.design-icon {
  width: 100%;
  .icon-header {
    height: 72px;
    background-image: url('../assets/detailsbg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 120px 0px 129px;
    .user {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 100px;
      background: rgb(50, 110, 255);
    }
    .search-content {
      flex: 1;
      display: flex;
      margin-right: 100px;
    }
    .input {
      flex: 1;
      position: relative;
      input {
        width: 100%;
        outline: none;
        height: 32px;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(229, 230, 235);
        border-radius: 4px;
        padding: 8px 12px 8px 12px;
        color: #252525;
        &::placeholder {
          color: #A3B1BF;
        }
        &:focus {
          border-color: #326EFF;
          box-shadow: 0 0 0 2px rgba(red(#326EFF), green(#326EFF), blue(#326EFF), 0.2);
        }
        &:hover {
          border-color: #326EFF;
        }
      }
      .search-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        color: #9298B5;
        cursor: pointer;
      }
    }
  }
  .section {
    display: flex;
    background-color: rgb(248, 249, 251);
    position: relative;
    .no-content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 80px;
      img {
        width: 539px;
        height: 404px;
      }
    }
    .menu {
      width: 240px;
      background-color: #fff;
      height: calc(100vh - 136px);
      overflow-y: auto;
      font-size: 14px;
      padding: 55px 0px;
      .submenu {
        color: rgb(2, 112, 254);
        font-weight: 500;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        padding: 0px 20px 0px 40px;
        cursor: pointer;
      }
      .item {
        color: rgb(62, 75, 94);
        font-weight: 400;
        line-height: 20px;
        height: 40px;
        display: flex;
        align-items: center;
        margin-right: 20px;
        padding: 0px 0px 0px 56px;
        cursor: pointer;
        a{
          color: rgb(62, 75, 94);
        }
      }
      .active {
        background: rgb(248, 250, 255);
        color: rgb(2, 112, 254);
        font-weight: 500;
        a{
          color: rgb(2, 112, 254);
        }
      }
    }
    .content {
      flex: 1;
      padding: 55px 322px 55px 65px;
      height: calc(100vh - 136px);
      overflow-y: auto;
      position: relative;
      .no-data {
        position: absolute;
        top: 50px;
        width: 524px;
        height: 419px;
        left: 50%;
        transform: translateX(calc(-50% - 145px));
      }
      .right {
        flex: 1;
        margin-right: 50px;
        padding-bottom: 100px;
        &-header {
          height: 40px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 25px;
          align-items: center;
          .info {
            font-weight: 500;
            color: rgb(62, 68, 95);
          }
          .btns {
            display: flex;
            line-height: 32px;
            text-align: center;
            cursor: pointer;
            margin-right: 16px;
            .btns-right {
              width: 32px;
              height: 32px;
              border-radius: 0px 4px 4px 0px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .btns-left {
              width: 32px;
              height: 32px;
              border-radius: 4px 0px 0px 4px;
            }
          }
        }
        .right-section {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 40px;
          .current {
            cursor: pointer;
            width: 93px;
            height: 93px;
            background: rgb(255, 255, 255);
            border-radius: 4px;
            margin: 0px 16px 16px 0px;
            padding: 0px 8px;
            border: 1px solid rgb(232, 233, 237);
            text-align: center;
            &:hover {
              box-shadow: 0px 2px 16px rgba(202, 203, 208, 0.53);
            }
            .icon-div {
              height: 47px;
              display: flex;
              justify-content: center;
              align-items: flex-end;
            }
            .text {
              color: rgb(146, 152, 181);
              font-size: 12px;
              font-weight: 400;
              height: 24px;
              margin-top: 4px;
              line-height: 24px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              margin-bottom: 18px;
            }
          }
        }
      }
    }
    .left-fixed {
      position: fixed;
      top: 250px;
      right: 60px;
      width: 262px;
      height: 401px;
      border: 1px solid rgb(240, 240, 240);
      border-radius: 4px;
      background-color: #fff;
      padding: 40px 24px 0px 24px;
      .title {
        color: rgb(62, 68, 95);
        line-height: 24px;
        font-size: 14px;
      }
      .btn {
        display: flex;
      }
    }
    .component-color-picker {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 3px;
      .picker {
        display: inline-block;
        cursor: pointer;
        border-radius: 4px;
        background-color: #fff;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        margin-top: 5px;
      }
      .color {
        color: #5c6785;
        width: 99px;
        height: 24px;
        box-sizing: border-box;
      background: rgb(255, 255, 255);
      border: 1px solid rgb(232, 233, 237);
      border-radius: 4px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 2px 20px 2px 20px;
      }
    }
  }
}

.float-picker {
  .sketch-picker  {
    box-shadow: none !important;
  }
}

.popNode {
  & > div {
    height: 28px;
    color: rgb(62, 75, 94);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
    &:hover {
      color: #4A7FFF;
    }
  }
}

.popIcon {
  transition: visibility 0.1s !important;
  .uni-pop-over-content-arrow {
    display: none !important;
  }
  .uni-pop-over-content-inner {
    box-shadow:  0px 2px 16px rgba(202, 203, 208, 0.53) !important;
  }
  .uni-pop-over-content-inner-content {
    padding: 8px 18px 8px 12px;
  }
}

.changeSlider {
  .uni-slider-rail {
    background: #E5E6EB;
    &:hover {
      background: #E5E6EB;
    }
  }
  .uni-slider-bar {
    background-color: #326EFF !important;
  }
  &:not(.uni-slider-disabled) .uni-slider-dot {
    border: 2px solid #326EFF;
    background: #fff !important;
  }
}